<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div style="background-color:rgba(230, 104, 158, 0.822);padding:20px;">
           <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngitem.
           com%2Fmiddle%2Fhiwximx_mobile-app-welcome-screen-hd-png-download%2F&psig=AOvVaw2iXWvLBuFTnlW4i3Ferlyx
           &ust=1652001496644000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMCQp6qHzfcCFQAAAAAdAAAAABAE"width="70" height="70">
          </div>
          <h1 style="font-weight:100;">WELLCOME TO OUR FAMILY...!!</h1>
          <div>hopefully you have greate experience in our app<br>         
    </div><br>
    <input style="background-color:rgba(42, 219, 125, 0.747)" type="button" value="click enter button to acctivate ur account"><br>
    <a href="">Enter</a>
    </center>   
</body>
</html>
